div {
    padding: 80px 20px;
    margin: 0;

}

article {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}

h2 {
    display: block;
    text-align: center;
}


#chisono p {
    padding: 10px;
    margin: 0 20px;
    width: 50%;
    float: right;
}

#chisono img {
    width: 50%;
    height: fit-content;
    
}

#progetti p {
    margin: 0 20px;
    width: 50%;
    float: left;
}

#progetti img {
    width: 50%;
    height: fit-content;
}

#passioni p {
    width: 50%;
    margin: 0 20px;
    float: right;
}

#passioni img {
    width: 50%;
    height: fit-content;
}

#hobby p {
    width: 50%;
    margin: 0 20px;
    float: left;
}


#hobby img {
    width: 50%;
    height: fit-content;
}

