div {
    padding: 80px 20px;
    margin: 0;

}

article {
    display: flex;
    justify-content: center;
}

h2 {
    display: block;
    text-align: center;
}


#chisono p {
    margin: 0 20px;
    width: 50%;
    height: fit-content;
}

#chisono img {
    margin: 0 20px;
    width: 50%;
    height: fit-content;
    max-inline-size: 400px;
    
}

#progetti p {
    margin: 0 20px;
    width: 50%;
    float: left;
    height: fit-content;
}

#progetti img {
    margin: 0 20px;
    width: 50%;
    height: fit-content;
    max-inline-size: 400px;
}

#passioni p {
    width: 50%;
    margin: 0 20px;
    float: right;
    height: fit-content;
}

#passioni img {
    margin: 0 20px;
    width: 50%;
    height: fit-content;
    max-inline-size: 400px;
}

#hobby p {
    width: 50%;
    margin: 0 20px;
    float: left;
    height: fit-content;
}


#hobby img {
    margin: 0 20px;
    width: 50%;
    height: fit-content;
    max-inline-size: 400px;
}

