#contatti { 
    margin-top: 100px;
}
#contatti h2 {
    text-align: center;
    margin-bottom: 20px;
}
#contatti div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

#contatti div input, #contatti div textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#contatti div button {
    padding: 10px 20px;
    background-color: chocolate;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#contatti div button:hover {
    background-color: #d68512;
}