header {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top:0;
    background-color: chocolate;
}

h1 {
    margin: 0;
    display: inline;
}

h1 a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 5px;
    padding: 10px 20px;
    float: left;
    text-decoration: none;
    color: #000000;
    cursor: default;
    text-shadow: #000000 1px 1px 1px;
    transition: all 0.3s ease;
    

}

h1 a:hover {
    color: #3d1f02;
    text-decoration: none;
}

.menu {
    margin: 0;
    padding: 0;
    clear:both;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: chocolate;
    border-top: 1px solid #000000;
    align-items: center;
}

.menu li a{
    list-style: none;
    padding: 20px;
    display: block;
    border-bottom: 1px solid #000000;
    text-decoration: none;
    color: #000000;
    transition: all 0.5s ease;
}

.menu li a:hover {
    background-color: #d68512;;
}

.menu-checkbox { 
    display: none;
}

.menu-btn {
    cursor: pointer;
    padding: 25px 15px;
    float: right;
    margin: 10px 0;
}

.menu-icon {
    display: block;
    position: relative;
    background-color: #000000;
    width: 20px;
    height: 3px;
    transition: all 0.3s ease;
}

.menu-btn .menu-icon::before,
.menu-btn .menu-icon::after {
    content: '';
    background-color: #000000;
    width: 20px;
    height: 3px;
    position: absolute;
    transition: all 0.3s ease;
}

.menu-btn .menu-icon::before {
    top: -7px;
}

.menu-btn .menu-icon::after {
    top: 7px;
}

.menu-checkbox:checked ~ .menu {
    max-height: 300px;
}

.menu-checkbox:checked ~ .menu-btn .menu-icon {
    background-color: transparent;
}

.menu-checkbox:checked ~ .menu-btn .menu-icon::before {
    transform: rotate(45deg);
    top: 0;
}

.menu-checkbox:checked ~ .menu-btn .menu-icon::after {
    transform: rotate(-45deg);
    top: 0;
}

@media (min-width: 768px){


    .menu-btn {
        display: none;
    }

    h1 {
        display: inline-block;
    }

    .menu {
        max-height: none;
        background-color: chocolate;
        border-top: none;
        float: right;
        padding: 10px 20px;
        align-items: center;
    }
    .menu li {
        list-style: none;
        border-bottom: none;
        display: inline-block;
    }

    .menu li a {
        border: none;
        padding: 15px 20px;
        border-radius: 5px;
    }

}

