body {
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    border-radius: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: justify;
    border: orange 2px solid;
    border-radius: 10px;
}

.bordo-arancio {
    border: orange 2px solid;
    border-radius: 10px;
}

