@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  background: $color-primary;
  color: $color-white;
  padding: 4rem 0 2rem;
  text-align: center;
  
  &__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: $font-title;
    color: $color-bg;
  }
  
  &__socials {
    @include flex-center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    @include respond-to("medium") {
      gap: 2rem;
    }
  }
  
  &__link {
    @include flex-center;
    flex-direction: column;
    gap: 0.5rem;
    color: rgba($color-white, 0.7);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    
    &:hover {
      color: $color-white;
      transform: translateY(-0.1875rem);
    }
  }
  
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: rgba($color-white, 0.1);
    @include transition-standard;
    
    .footer__link:hover & {
      background-color: $color-primary;
    }
  }
  
  &__copyright {
    font-size: 0.8rem;
    color: rgba($color-white, 0.7);
    border-top: 0.0625rem solid rgba($color-white, 0.1);
    padding-top: 2rem;
    margin-top: 2rem;
  }
}
